/* Hey you, psst! Glad you're reading this. Let me Explain this
in a nutshell. (͡ ° ͜ʖ ͡ °)

## parallax-home for adding image for Home cover
## parallax-skills for adding image to portfolio cover
## parallax-contact for adding image to contact cover

## image-intro for my name in home cover
## image-middle for text in portfolio cover
## image-end for text in contact cover

## card for giving us card view
## container for putting contents

## navbar for navigation purposes
## navbar a for anchor elements of nav bar
## navbar a:hover for styling when hovering mouse over the navbar elements
## navbar a.burger for styling the burger icon of navbar
## navbar-fixed to change the background color of navbar after scrolling from home's cover image

## row for creating a row division
## divide-almost for divides the given row by 2/3 division
## divide-quater for divides the given row by 1/3 division
## divide-half for dividing rows into two equal halves 1/2

## skill-container for container for skill bar
## skill-html,android,linux for each  independent skills 
*/
html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 1.8;
    font-family: "Lato", sans-serif;
}

.parallax-home {
    background-image: url(../res/home.jpg);
    width: auto;
    height: 400px;
    /*create parallax Scrolling*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-skills {
    background-image: url(../res/skills.jpg);
    width: auto;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-contact {
    background-image: url(../res/contact.jpg);
    width: auto;
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-intro {
    position: absolute;
    background: #222;
    width: auto;
    height: auto;
    color: #fff;
    /* mix-blend-mode: multiply; */
    padding: 15px;
    top: 50%;
    left: 50%;
    letter-spacing: 10px;
    font-size: 3vw;
    /*transform : translate(x-axis[+ve moves to right else left],y-axis[+ve moves down -ve to left])*/
    transform: translate(-50%, -150%);
    font-family: 'Concert One', cursive;
}

.image-middle {
    position: relative;
    width: fit-content;
    color: #fff;
    overflow: hidden;
    height: auto;
    transform: translate(-50%, -50%);
    padding: 15px;
    top: 50%;
    left: 50%;
    letter-spacing: 10px;
    font-size: 4vw;
    font-family: 'Concert One', cursive;
}

.image-end {
    position: relative;
    width: fit-content;
    color: #fff;
    overflow: hidden;
    height: auto;
    transform: translate(-50%, -50%);
    padding: 15px;
    top: 50%;
    left: 50%;
    letter-spacing: 10px;
    font-size: 5vw;
    font-family: 'Concert One', cursive;
}

.card {
    text-align: center;
    /*holds Subheadings  */
}

.container {
    color: #777;
    background-color: white;
    text-align: center;
    padding: 30px 50px;
    text-align: justify;
}

.fa-home,
.fa-user,
.fa-table,
.fa-envelope-square,
.fa-align-justify {
    padding: 8px 12px 12px 8px;
}

.navbar {
    color: inherit;
    background-color: inherit;
    width: 100%;
    text-align: center;
    cursor: pointer;
    top: 0;
    /* Requried for sticky proprty to work */
    white-space: nowrap;
    display: block;
    position: -webkit-sticky;
    /*Safari Browser*/
    position: sticky;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 0px 12px 12px 8px;
    /* top right left bottom */
    text-decoration: none;
}

.navbar a.burger {
    display: none;
}

.navbar a:hover {
    background-color: #d1ccc0;
    color: black;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {
        display: none;
    }

    .navbar a.burger {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.mobile {
        position: relative;
        height: auto;
        color: #000;
        padding: 0;
        margin: 0;
    }

    .navbar.mobile .burger {
        position: absolute;
        right: 0;
        top: 0;
        color: #000;
    }

    .navbar.mobile a {

        float: none;
        color: #000;
        display: block!important;
        text-align: left;
    }

    .parallax-home,
    .parallax-contact,
    .parallax-skills {
        background-attachment: scroll;
        min-height: 400px;
    }

    .row {
        position: relative;
        display: block !important;
        width: 100%;
    }

    .divide-almost {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        align-self: auto;
        text-align: center;
    }

    .divide-quater {
        -ms-flex: 0 0 50%;
        flex: 0 0 60%;
        align-self: auto;
        text-align: center;
    }
    .imgcontainer {
        text-align: center;
        overflow: hidden;
        width: inherit;
    }
    img.avatar {
        width: 100%;
        border-radius: 50%;
    }

}

.navbar-fixed {
    position: sticky;
    top: 0;
    height: 60px;
    animation: animatetop 0.4s;
    color: #fff;
    background-color: #000;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.imgcontainer {
    text-align: center;
    overflow: hidden;
}

img.avatar {
    width: 60%;
    border-radius: 50%;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.divide-almost {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: initial;
    align-self: auto;
    text-align: center;
    margin-left: -15px;
}

.divide-quater {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    align-self: auto;
    text-align: center;
}

.skill-container {
    width: 100%;
    background-color: #ddd;
    text-align: right;
    padding: 2px;
    color: white;
}

.skill-web {
    width: 74%;
    background-color: orangered;
}

.skill-android {
    width: 80%;
    background: green;
}

.skill-linux {
    width: 60%;
    background-color: #2196F3;
}

.inputStyle {
    padding: 18px;
    display: block;
    border: 1px;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.fa-phone,
.fa-location-arrow,
.fa-envelope {
    font-size: 3vw;
    margin: 5%;
}

.buttonStyle {
    border: none;
    margin: 16px;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    font-weight: bold;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.buttonStyle:hover {
    color: #000 !important;
    background-color: #ccc !important;
}

.social {
    opacity: 0.60;
    padding: 10px;
    color: #fff !important;
    background-color: #000 !important;
    padding-top: 64px !important;
    padding-bottom: 64px !important;
    text-align: center;
}

.social:hover {
    opacity: 1;
}
.fa-github-alt,.fa-github,.fa-paper-plane,.fa-pinterest,.fa-linkedin,.fa-twitter{
    font-size: 24px;
}
.fa-github-alt:hover {
    color: #DB3B21 !important;
}

.fa-paper-plane:hover {
    color: #34ABE0 !important;
}

.fa-pinterest:hover {
    color: #E60023 !important;
}
.fa-linkedin:hover{
    color: #0077B5!important;
}
.fa-twitter:hover{
    color: #1DA1F2!important;
}